<!DOCTYPE html>
<html>

<head>
    <title>Booking Successful</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }

        h1 {
            color: #008000;
        }

        .container {
            margin-top: 50px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Request Accepted</h1>
        <p>Thank you for providing the services.</p>
        <p>You will receive a confirmation email shortly with details of the booking.</p>
        <p>If you have any questions or concerns, please do not hesitate to contact us.</p>
        <a href="/website/comp_dash">Return to Home Page</a>
    </div>
</body>

</html>